<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Profile</title>
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous"> -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>

    <style>


        .form-control {
            border: 1px solid #cfd1d8;
            -webkit-border-radius: 2px;
            -moz-border-radius: 2px;
            border-radius: 2px;
            font-size: .825rem;
            background: #ffffff;
            color: #2e323c;
        }
        .card {
            background: #ffffff;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            border-radius: 5px;
            border: 0;
            margin-bottom: 1rem;
        }
        a {
            color: inherit;
            text-decoration: inherit;
        }
        .required-field::after {
            content: "*";
            color: red;
            margin-left:2px
        }
        .error{
            outline: 1px solid red;
        }

        .allowed-submit{opacity: .5;cursor: not-allowed;}
        .valid-input{
            border:1px solid green !important;
        }
        .invalid-input{
            border:1px solid red !important;
        }
        .invalid-msg{
            color: red;
        }

        .gradient-custom {
            /* fallback for old browsers */
            background: #a1c4fd;

            /* Chrome 10-25, Safari 5.1-6 */
            background: -webkit-linear-gradient(to right, rgba(161,196,253,0.5), rgba(194,233,251,0.5));

            /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
            background: linear-gradient(to right, rgba(161,196,253,0.5), rgba(194,233,251,0.5))
        }
        .center {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }

    </style>
</head>
<body class="gradient-custom">
<script>


    let userName;
    function updateCustomer(){
        let contact = $("#phone").val()
        let address = $("#address").val()
        let aadhaar = $("#aadhaar").val()
        let pan = $("#pan").val()
        if(contact==sessionStorage.getItem("contact") && aadhaar==sessionStorage.getItem("aadhaar") && pan==sessionStorage.getItem("pan") && address==sessionStorage.getItem("address")){
            $("#noChanges").modal("show")

        }
        else {
            $("#updateConfirmation").modal("show")

        }


    }
    $(document).ready(function () {
        //Set the input fields to current customer details
        $("#fullname").val(sessionStorage.getItem("fullname"))
        $("#username").val(sessionStorage.getItem("username"))
        $("#phone").val(sessionStorage.getItem("contact"))
        $("#aadhaar").val(sessionStorage.getItem("aadhaar"))
        $("#pan").val(sessionStorage.getItem("pan"))
        $("#address").val(sessionStorage.getItem("address"))
        userName = sessionStorage.getItem("username")

        //Contact number validation
        $('#phone').on('input', function () {
            console.log("Entered phone validation")
            var phone = $(this).val();
            var validNumber = /^[0-9]{10}$/;
            if (phone.length == 0) {
                $('.phone-msg').addClass('invalid-msg').text("Contact number is required");
                $(this).addClass('invalid-input').removeClass('valid-input');

            }
            else if (!validNumber.test(phone)) {
                $('.phone-msg').addClass('invalid-msg').text('Should be a 10-digit number');
                $(this).addClass('invalid-input').removeClass('valid-input');

            }
            else {
                $('.phone-msg').empty();
                $(this).addClass('valid-input').removeClass('invalid-input');
            }
        });

        //Aadhaar number validation
        $('#aadhaar').on('input', function () {
            var aadhaar = $(this).val();
            var validAadhaar = /^[0-9]{12}$/;
            if (aadhaar.length == 0) {
                $('.aadhaar-msg').addClass('invalid-msg').text("Aadhaar number is required");
                $(this).addClass('invalid-input').removeClass('valid-input');

            } else if (!validAadhaar.test(aadhaar)) {
                $('.aadhaar-msg').addClass('invalid-msg').text('Should be a 12-digit number');
                $(this).addClass('invalid-input').removeClass('valid-input');

            } else {
                $('.aadhaar-msg').empty();
                $(this).addClass('valid-input').removeClass('invalid-input');
            }
        });

        //PAN number validation
        $('#pan').on('input', function () {
            var pan = $(this).val();
            var validPan = /^[A-Z]{5}[0-9]{4}[A-Z]{1}$/;
            if (pan.length == 0) {
                $('.pan-msg').addClass('invalid-msg').text("PAN is required");
                $(this).addClass('invalid-input').removeClass('valid-input');

            } else if (!validPan.test(pan)) {
                $('.pan-msg').addClass('invalid-msg').text('Invalid Format [Correct Format: ABCDE1234F]');
                $(this).addClass('invalid-input').removeClass('valid-input');

            } else {
                $('.pan-msg').empty();
                $(this).addClass('valid-input').removeClass('invalid-input');
            }
        });

        //Address Validation
        $('#address').on('input', function () {
            var address = $(this).val();
            if (address.length == 0) {
                $('.address-msg').addClass('invalid-msg').text("Address cannot be empty");
                $(this).addClass('invalid-input').removeClass('valid-input');

            } else {
                $('.address-msg').empty();
                $(this).addClass('valid-input').removeClass('invalid-input');
            }
        });

        //Input fields event
        $('input').on('input',function(e){
            if($('#updateForm').find('.valid-input').length==4){
                console.log("Entered validation")
                $('#updateBtn').removeClass('allowed-submit');
                $('#updateBtn').removeAttr('disabled');
            }
            else{
                e.preventDefault();
                $('#updateBtn').attr('disabled','disabled')

            }
        });

        $("#updateBtn").click(function () {
            $("#modalContact").text(": "+$("#phone").val())
            $("#modalAddress").text(": "+$("#address").val())
            $("#modalAadhaar").text(": "+$("#aadhaar").val())
            $("#modalPan").text(": "+$("#pan").val())
        })

        //Update button click event
        $("#updateBtn").click(function () {
            updateCustomer();
        })

        $("#profileBtn").click(function () {
            window.location.href = "http://localhost:8082/web/view"
        })



        $("#proceedBtn").click(function () {
            let contact = $("#phone").val()
            let address = $("#address").val()
            let aadhaar = $("#aadhaar").val()
            let pan = $("#pan").val()
            $.post("http://localhost:8082/app/update",{     //Ajax Post method to update the customer details
                username:userName,
                contact:contact,
                address:address,
                aadhaar:aadhaar,
                pan:pan
            },function (response) {
                if(response>0)
                    $("#confirmationMessage").modal("show")
                else
                    $("#errorMessage").modal("show")
            })
        })
    })
</script>

<!--Update Confirmation Modal -->
<div class="modal fade" id="updateConfirmation" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Update Confirmation</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <h6>Proceed with the following changes?</h6>
                <div class="row">
                    <div class="col-4">Contact</div>
                    <div class="col-8 text-secondary" id="modalContact"></div>
                </div>
                <div class="row">
                    <div class="col-4">Address</div>
                    <div class="col-8 text-secondary" id="modalAddress"></div>
                </div>
                <div class="row">
                    <div class="col-4">Aadhaar</div>
                    <div class="col-8 text-secondary" id="modalAadhaar"></div>
                </div>
                <div class="row">
                    <div class="col-4">PAN</div>
                    <div class="col-8 text-secondary" id="modalPan"></div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" id="proceedBtn" data-bs-toggle="modal" >Proceed</button>
            </div>
        </div>
    </div>
</div>

<!--Update Confirmed Modal -->
<div class="modal fade" id="confirmationMessage" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="confirmationMessageLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmationMessageLabel">Update Request</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Request has been sent to the admin. It'll take some time for the details to get verified.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="profileBtn"  >Okay</button>
            </div>
        </div>
    </div>
</div>

<!--Error Message Modal-->
<div class="modal fade" id="errorMessage" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="errorMessageLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="errorMessageLabel">Update Error</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Something went wrong. Please try again after some time.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="errorBtn" data-bs-toggle="modal" >Okay</button>
            </div>
        </div>
    </div>
</div>

<!--No changes made Modal-->
<div class="modal fade" id="noChanges" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="noChangesLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="noChangesLabel">No Changes</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                No changes were made
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="noChangeBtn" data-bs-toggle="modal" >Okay</button>
            </div>
        </div>
    </div>
</div>



<div class="d-flex justify-content-center mt-3 mb-3">
    <img th:src="@{/images/logo.png}" width="500px" alt="Logo">
</div>



<div class="container pb-5">
    <div class="row">
        <div class="col">
<!--        Logout Button-->
            <div class="float-end mb-3 mt-3">
                <a th:href="@{/logout}"><button class="btn btn-danger">Logout</button></a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
<!--            Navigation Bar-->
            <nav aria-label="breadcrumb" class="rounded-3 p-3 mb-4 text-light" style="background-color: #001F3F">
                <ol class="breadcrumb mb-0">
                    <li class="breadcrumb-item text-light"><a href="#">Dashboard</a></li>
                    <li class="breadcrumb-item ">/</li>
                    <li class="breadcrumb-item text-light"><a th:href="@{/web/view}">User Profile</a></li>
                    <li class="breadcrumb-item ">/</li>
                    <li class="breadcrumb-item active text-light" aria-current="page">Update Profile</li>
                </ol>
            </nav>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="card h-100">
                <div class="card-body">
<!--                    Customer Update Form-->
                    <form class="row g-3" id="updateForm">
                        <div class="col-md-7">
                            <label class="form-label">Full name</label>
                            <input type="text" class="form-control" name="fullname" id="fullname" disabled readonly>
                        </div>
                        <div class="col-md-5">
                            <label  class="form-label">Username</label>
                            <div class="input-group">
                                <span class="input-group-text" >@</span>
                                <input type="text" class="form-control" name="username" id="username" aria-describedby="inputGroupPrepend2" disabled readonly>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <label  class="form-label">Contact</label>
                            <div class="input-group">
                                <span class="input-group-text">+91</span>
                                <input type="text" class="form-control valid-input" name="phone" id="phone" placeholder="Enter phone number" >
                            </div>
                            <small class="phone-msg"></small>
                        </div>
                        <div class="col-md-8">
                            <label  class="form-label">Address</label>
                            <input type="text" class="form-control valid-input"  name="address" id="address" placeholder="Enter address">
                            <small class="address-msg"></small>
                        </div>
                        <div class="col-md-6">
                            <label class="form-label">Aadhaar</label>
                            <input type="text" class="form-control valid-input" name="aadhaar" id="aadhaar" placeholder="Enter aadhaar number" >
                            <small class="aadhaar-msg"></small>
                        </div>
                        <div class="col-6">
                            <label  class="form-label">PAN</label>
                            <input type="text" class="form-control valid-input" name="pan" id="pan" placeholder="Enter PAN" >
                            <small class="pan-msg"></small>
                        </div>
                        <div class="col-12">
                            <div class="text-right">
                                <a th:href="@{/web/view}"><button type="button"  class="btn btn-secondary">Cancel</button></a>
                                <button type="button" id="updateBtn"  class="btn btn-primary">Update</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>